{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Jovan Portfolio{% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="author" content="">
        {% include 'portfolio/styles/css.html' %}
    </head>
    <body>
        {% block header %}{% endblock header %}
        {% block content %}{% endblock content %}

        {% include 'portfolio/styles/js.html' %}
    </body>
</html>